@import "partials/variables";
@import "partials/globals";
@import "partials/media-queries";
@import "partials/menu";
@import "partials/hero";
@import "partials/home";
@import "partials/inscripcion";
@import "partials/preinscripcion";
@import "partials/recorridos";
@import "partials/contacto";
@import "partials/info";
@import "partials/footer";

.body__style {
  // background-color: $black;
  color: $white;
  font-family: "Open Sans", sans-serif;
}
.bg-container {
  background-color: #d4d4d4;
}
.bg-form {
  background-color: $color-secundario;
}
.item-bg-transparent {
  background-color: $color-secundario;
}
.bg-brand {
  background-color: $color-primario;
}
.bg-gray {
  background-color: $gray;
}
.bg-light {
  background-color: $white;
}
.fc-brand {
  color: $color-primario;
}
.fc-brand-2 {
  color: $color-secundario;
}
.fc-light{
  color: $white;
}

.gr-button {
  max-width: 14rem;
  height: auto;
  padding: 0.6rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border: 1px transparent;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.gr-button-primary {
  background-color: $color-primario;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    color: $black;
  }
}
.gr-button-secondary {
  background-color: $color-secundario;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    color: $black;
  }
}


.title-m {
  font-size: $title-m;
  font-weight: 800;
  font-style: italic;
  text-shadow: 4px 2px 4px $shadow;
  text-transform: uppercase;
}

.title-l {
  font-size: $title-l;
  font-weight: 800;
  font-style: italic;
  text-shadow: $shadow;
  text-transform: uppercase;
  text-shadow: 4px 2px 4px $shadow;
}
.title-xl {
  font-size: $title-xl;
  font-weight: bolder;
  text-shadow: 4px 2px 4px $shadow;
  text-transform: uppercase;
}
