.resena {
    background-color: $color-primario;
    color: $black;

    .link-resena{
      text-decoration: none;
      color: $white;
    }
    a:hover{
      color: $black;
      text-decoration: underline;
    }
  }
  
  .sponsors {
    background-color: $color-primario;
    display: flex;
    justify-content: center;
    @include mobile-M {
      justify-content: space-around;
    }
  
    .sponsors-img img {
      width: 10rem;
      height: auto;
      @include mobile {
        width: 3.4rem;
        text-align: center;
      }
      @include mobile-M {
        width: 3.8rem;
        text-align: center;
      }
    }
  }
  
  .video {
    background-color: $color-primario;
  
    .video__youtube {
      min-height: 30rem;
    }
  }