.form__pre{
    /* background-image: url(../img/ccc2021.jpg); */
    background-color: $color-primario;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
    a {
      text-decoration: none;
    }
  
    .form__pre-container {
      width: 80%;
      /* min-height: 100vh; */
      min-height: 40rem;
      margin-top: 20rem;
      background-color: $white;
      padding: 2rem;
      color: $color-secundario;
      border: 1px solid transparent;
      border-radius: 4px;
  
       @include mobile{
          width: 100%;
          padding: 0px;
      }
  
    }
    .form__pre-link::before{
      content: "";
      padding: 0 2rem 1rem 0;
      background-image: url("../img/MobileBackArrowMajor.svg");
      background-repeat: no-repeat;
      background-size: 65%;
      background-position:top
    }
    .form__pre-link:hover{
      opacity: 0.5;
    }
  
  }