$color-primario: #ff4c29;
$color-secundario: #2c394b;
$color-dark: #082032;
$color-disabled: #c2cbd8;
$gray: #e9eaeb;
$shadow: rgb(36, 37, 37);
$white: #f5f5f5;
$black: #02090e;

$title-xl: 4rem;
$title-l: 2.8rem;
$title-m: 2rem;
